{% extends 'base.html' %}
{% block content %}
     <!--breadcrumbs start-->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-sm-8">
            <h1>
              About Sales and Inventory System
            </h1>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs end-->

    <!--container start-->
    <div class="container">
      <div class="row mar-b-50">
        <div class="col-lg-5">
          <div class="about-carousel wow fadeInLeft">
            <div id="myCarousel" class="carousel slide">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                  <img src="/assets/img/1.jpg" alt="">
                  <div class="carousel-caption">
                  </div>
                </div>
                <div class="item">
                  <img src="/assets/img/2.jpg" alt="">
                  <div class="carousel-caption">
                  </div>
                </div>
                <div class="item">
                  <img src="/assets/img/3.png" alt="">
                  <div class="carousel-caption">
                  </div>
                </div>

              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <i class="fa fa-angle-left">
                </i>
              </a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <i class="fa fa-angle-right">
                </i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-7 about wow fadeInRight">
          <h3>About Sales and Inventory Management System</h3>
          <p>A sales and inventory system is a software-based business solution used to simultaneously track sales activity and inventory,” So, what exactly is a sales and inventory system? “A sales and inventory system is a software-based business solution used to simultaneously track sales activity and inventory,” explains the Houston Chronicle. “Manufacturers and trade resellers can both benefit from a thorough solution, where a single transaction entry records necessary details on the customer, products purchased, price and date, while also updating inventory levels.</p>
          <p>More specifically, retail POS software is a solution that allows for more efficient transactions at the point of sale by monitoring how certain items are performing, improving inventory control by automatically tracking where all inventory is at all times, centralizing customer management through databases, and cutting costs by reducing the time spent manually entering data. In some cases, these terms are used synonymously.</p>
        </div>
      </div>

    </div>
  {% endblock content %}

